body {
	background: url(../images/por.jpg) no-repeat;
	background-size: cover;
	font-size: 20px;
	font-weight: bold;
}

.btn {
	padding: 1%;
	margin-top:2%;
	border: 3px solid transparent;
}

.btn:hover {border: 3px solid black};